@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car Service System</h1>
    <p>Go to <a href="/Clients">Clients Management</a></p>
</div>